{% extends 'base.html.twig' %}

{% block title %}{{ bookshelf.name }}{% endblock %}

{% block body %}
    <div class="container-lg">
        <h1>{{ bookshelf.name }}</h1>

        {% if is_granted('edit', bookshelf) %}
            <div class="bookshelf-actions d-flex gap-3">
                <a href="{{ path('bks_bookshelf_edit', {ulid: bookshelf.ulid}) }}" class="btn btn-primary">{% trans %}bookshelf.edit{% endtrans %}</a>

                <a href="{{ path('bks_bookshelf_edit_ownership', {ulid: bookshelf.ulid}) }}" class="btn btn-primary">{% trans %}bookshelf.edit.ownership{% endtrans %}</a>

                {{ include('forms/delete.html.twig', {route: path('bks_bookshelf_delete', {ulid: bookshelf.ulid}), csrf_prefix: 'bookshelf', csrf: bookshelf.ulid}) }}
            </div>
        {% endif %}

        <div class="row">
            {% for book in bookshelf.books %}
                <div class="col-md-6 col-lg-4">
                    <h2 class="display-6"><a href="{{ path('bks_book_view', {ulid: book.ulid}) }}">{{ book.title }}</a></h2>
                    <p>
                        {% for author in book.authors %}
                            <span>{{ author.name }}{% if not loop.last %}, {% endif %}</span>
                        {% endfor %}
                    </p>
                    <p class="text-muted">{{ book.publisher.name }} {{ not book.publicationDate ?: ', ' ~ book.publicationDate }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
