{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    <div class="container-lg">
        <h1 class="fst-italic display-1">{{ book.title }}</h1>

        <p>
            {% for author in book.authors %}
                {{ author.name }}
            {% endfor %} | {{ book.publisher.name }}{{ not book.publicationDate ?: ', ' ~ book.publicationDate}} | {{ not book.pages ?: book.pages ~ ' p.' }}
        </p>

        <div>
            {{ book.description | nl2br }}
        </div>

        <div class="d-flex flex-row justify-content-center align-items-center gap-3">
            <a href="{{ path('bks_book_edit', {ulid: book.ulid}) }}" class="btn btn-primary">{% trans %}book.edit{% endtrans %}</a>

            {{ include('forms/delete.html.twig', {route: path('bks_book_delete', {ulid: book.ulid}), csrf_prefix: 'book', csrf: book.ulid}) }}
        </div>
    </div>
{% endblock %}
